@import url('https://fonts.googleapis.com/css?family=Orbitron:100,200,300,400,500,600,700');

/*---------------------------------- Special Helpers */

body {
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 1px 6px #000000;
    -webkit-text-shadow: 1px 1px 6px #000000;
    -moz-text-shadow: 1px 1px 6px #000000;
}

.row {
    text-align: center;
}

/*---------------------------------- Containers */

.heading-container {
    margin: auto;
    width: 100%;
}

.board-container {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    width: 600px;
    height: 600px;
    border: solid 6px #000;
    border-radius: 50%;
}

.control-container {
    display: inline;
    width: 100%;
}

/*---------------------------------- Simon Board Colors */

.pad {
    position: relative;
    float: left;
    display: inline-block;
    width: 40%;
    border: solid 4px #000;
    width: 292px;
    height: 292px;
    cursor: pointer;
    box-shadow: 2px 2px 15px #000000;
    -o-box-shadow: 2px 2px 15px #000000;
    -moz-box-shadow: 2px 2px 15px #000000;
    -webkit-box-shadow: 2px 2px 15px #000000;
}

.green {
    background-color: #4fce37;
    border-radius: 100% 0 0 0;
}

.red {
    background-color: #dc0000;
    border-radius: 0 100% 0 0;
}

.yellow {
    background-color: #dcd900;
    border-radius: 0 0 0 100%;
}

.blue {
    background-color: #0101e4;
    border-radius: 0 0 100% 0;
}

.green-light {
    background-color: rgba(79, 206, 55, 0.4);
}

.red-light {
    background-color: rgba(220, 0, 0, 0.4);
}

.yellow-light {
    background-color: rgba(219, 217, 55, 0.4);
}

.blue-light {
    background-color: rgba(1, 0, 255, 0.4);
}

/*---------------------------------- Simon Board Controls */

.controls {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    margin: 161px 0 0 161px;
    background-color: #FFF;
    width: 260px;
    height: 260px;
    border: solid 9px #000;
    border-radius: 50%;
    line-height: 60px;
}

.control-label {
    display: block;
}

.simon-label {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 10px;
}

.num-display {
    color: #da2d2d;
    background-color: #000;
    width: 85px;
    height: 53px;
    margin: auto;
    border: solid 2px #da2d2d;
    border-radius: 15px;
    font-size: 1.6em;
}

.start-label {
    display: inline;
    margin-right: 35px;
    line-height: 2.5em;
}

.strict-label {
    display: inline;
}

.on-off-switch {
    position: relative;
    bottom: 12px;
    width: 70px;
    height: 35px;
    float: right;
    background-color: #000;
    border-radius: 3.25rem;
    margin-right: 42px;
}

.on-off-slider {
    width: 30px;
    height: 30px;
    border-radius: 2.25rem;
    background-color: #ff0000;
    border: solid 2.5px #791919;
    cursor: pointer;
}

.on-off-label {
    font-size: 0.7em;
    line-height: 3em;
    font-weight: bold;
    text-shadow: none;
    -o-text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
}

.start-btn {
    float: left;
    margin-left: 40px;
    margin-top: 18px;
    padding: 8px;
    cursor: pointer;
    line-height: 3em;
    font-weight: bold;
    background-color: #58e23e;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: solid 2.5px #256319;
    text-shadow: none;
    -o-text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    box-shadow: 2px 2px 15px #000000;
    -o-box-shadow: 2px 2px 15px #000000;
    -moz-box-shadow: 2px 2px 15px #000000;
    -webkit-box-shadow: 2px 2px 15px #000000;
}


.power-on {
    background-color: #58e23e;
    float: right;
    border-color: #3b942a;
}
