@import url('https://fonts.googleapis.com/css?family=Orbitron:100,200,300,400,500,600,700');

/*---------------------------------- Special Helpers */

body {
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 1px 6px #000000;
    -webkit-text-shadow: 1px 1px 6px #000000;
    -moz-text-shadow: 1px 1px 6px #000000;
}

.row {
    text-align: center;
}

/*---------------------------------- Containers */

.headingContainer {
    margin: auto;
    width: 100%;
}

.boardContainer {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    width: 600px;
    height: 600px;
    border: solid 6px #000;
    border-radius: 50%;
}

.controlContainer {
    display: inline;
    width: 100%;
}

/*---------------------------------- Simon Board Colors */

.pad {
    position: relative;
    float: left;
    display: inline-block;
    width: 40%;
    border: solid 4px #000;
    width: 292px;
    height: 292px;
    -webkit-box-shadow: 6px 7px 10px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 10px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 7px 10px 3px rgba(0, 0, 0, 0.75);
}

.simonBoard .green {
    background-color: #58e23e;
    border-radius: 100% 0 0 0;
}

.simonBoard .red {
    background-color: #ff0000;
    border-radius: 0 100% 0 0;
}

.simonBoard .yellow {
    background-color: #fffb00;
    border-radius: 0 0 0 100%;
}

.simonBoard .blue {
    background-color: #0000ff;
    border-radius: 0 0 100% 0;
}

/*---------------------------------- Simon Board Controls */

.controls {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    margin: 161px 0 0 161px;
    background-color: #FFF;
    width: 260px;
    height: 260px;
    border: solid 9px #000;
    border-radius: 50%;
    line-height: 60px;
}

.controlLabel {
    display: block;
}

.simonLabel {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 10px;
}

.numDisplay {
    color: #da2d2d;
    background-color: #000;
    width: 85px;
    height: 53px;
    margin: auto;
    border: solid 2px #da2d2d;
    border-radius: 15px;
    font-size: 1.6em;
}

.startLabel {
    display: inline;
    margin-right: 35px;
    line-height: 2.5em;
}

.strictLabel {
    display: inline;
}

.onOffSwitch {
    position: relative;
    bottom: 12px;
    width: 70px;
    height: 35px;
    float: right;
    background-color: #000;
    border-radius: 3.25rem;
    margin-right: 42px;
}

.onOffSlider {
    width: 30px;
    height: 30px;
    border-radius: 2.25rem;
    background-color: #ff0000;
    border: solid 2.5px #791919;
    cursor: pointer;
}

.onOffLabel {
    font-size: 0.7em;
    line-height: 3em;
    font-weight: bold;
    text-shadow: none;
    -o-text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
}

.startBtn {
    float: left;
    margin-left: 40px;
    margin-top: 18px;
    padding: 8px;
    cursor: pointer;
    line-height: 3em;
    font-weight: bold;
    background-color: #58e23e;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: solid 2.5px #256319;
    text-shadow: none;
    -o-text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    box-shadow: 2px 2px 15px #000000;
    -o-box-shadow: 2px 2px 15px #000000;
    -moz-box-shadow: 2px 2px 15px #000000;
    -webkit-box-shadow: 2px 2px 15px #000000;
}


.powerOn {
    background-color: #58e23e;
    float: right;
    border-color: #3b942a;
}
