@import url('https://fonts.googleapis.com/css?family=Orbitron:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700');

/*---------------------------------- SPECIAL HELPERS */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: url(../images/simon-background.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #080e32;
    font-family: 'Orbitron', sans-serif;
    -webkit-text-shadow: 1px 1px 6px #000000;
    -moz-text-shadow: 1px 1px 6px #000000;
    -o-text-shadow: 1px 1px 6px #000000;
    text-shadow: 1px 1px 6px #000000;
    margin: 0;
    width: 100%;
    height: 100%;
}

.row {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn:visited {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.disabled {
    pointer-events: none;
}

/*---------------------------------- CONTAINERS */

.heading-container {
    background-color: rgba(112, 112, 112, 0.3);
    color: white;
    text-align: center;
}

.board-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100vw;
    max-width: 600px;
    max-height: 600px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 230px;
}

.strict-container {
    position: absolute;
    margin-top: 149px;
    margin-left: 50px;
    padding: 0px;
    width: 29%;
    line-height: 0;
}

.footer-container {
    position: absolute;
    background-color: rgba(112, 112, 112, 0.3);
    color: white;
    bottom: 0;
    text-align: center;
}

/*---------------------------------- SIMON BOARD COLOURS */

.pad {
    position: relative;
    float: left;
    width: 50%;
    height: 50vw;
    border: solid 8px #000;
    max-width: 300px;
    max-height: 300px;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 15px #000000;
    -o-box-shadow: 2px 2px 15px #000000;
    box-shadow: 2px 2px 15px #000000;

}

.green-pad {
    background-color: #3da22a;
    border-top-left-radius: 96%;
    -webkit-box-shadow: inset 0 0 50px #31822c,
    inset 20px 0 80px #2a4c14,
    inset -20px 0 80px #37bd2b,
    inset 20px 0 300px #a5ce8d,
    inset -20px 0 300px #254e00,
    1px 0 #000;
    box-shadow: inset 0 0 50px #31822c,
    inset 20px 0 80px #2a4c14,
    inset -20px 0 80px #37bd2b,
    inset 20px 0 300px #a5ce8d,
    inset -20px 0 300px #254e00,
    1px 0 #000;
}

.red-pad {
    background-color: #a90202;
    border-top-right-radius: 96%;
    -webkit-box-shadow: inset 0 0 50px #e00b0b,
    inset 20px 0 80px #542727,
    inset -20px 0 80px #bd2b2b,
    inset 0px 0 300px #ef8787,
    inset -20px 0 300px #961717,
    1px 0 #000;
    box-shadow: inset 0 0 50px #e00b0b,
    inset 20px 0 80px #542727,
    inset -20px 0 80px #bd2b2b,
    inset 0px 0 300px #ef8787,
    inset -20px 0 300px #961717,
    1px 0 #000;
}

.yellow-pad {
    background-color: #b5b301;
    border-bottom-left-radius: 96%;
    -webkit-box-shadow: inset 0 0 50px #efdb2f,
    inset 20px 0 80px #50490d,
    inset -20px 0 80px #f5df1f,
    inset 20px 0 300px #c1b97a,
    inset -20px 0 300px #ab9d23,
    1px 0 #000;
    box-shadow: inset 0 0 50px #efdb2f,
    inset 20px 0 80px #50490d,
    inset -20px 0 80px #f5df1f,
    inset 20px 0 300px #c1b97a,
    inset -20px 0 300px #ab9d23,
    1px 0 #000;
}

.blue-pad {
    background-color: #0100a5;
    border-bottom-right-radius: 96%;
    -webkit-box-shadow: inset 0 0 50px #2f3eef,
    inset 20px 0 80px #101842,
    inset -20px 0 80px #13029c,
    inset 20px 0 300px #aebaf1,
    inset -20px 0 300px #3836b9,
    1px 0 #000;
    box-shadow: inset 0 0 50px #2f3eef,
    inset 20px 0 80px #101842,
    inset -20px 0 80px #13029c,
    inset 20px 0 300px #aebaf1,
    inset -20px 0 300px #3836b9,
    1px 0 #000;
}

.green-light {
    background-color: rgba(79, 206, 55, 0.4);
    -webkit-box-shadow: inset 0 0 50px #31822c,
    inset 20px 0 80px #5fb928,
    inset -20px 0 80px #37bd2b,
    inset 20px 0 300px #deffca,
    inset -20px 0 300px #254e00,
    0 0 50px #1b7915,
    1px 0 #000;
    box-shadow: inset 0 0 50px #31822c,
    inset 20px 0 80px #5fb928,
    inset -20px 0 80px #37bd2b,
    inset 20px 0 300px #deffca,
    inset -20px 0 300px #254e00,
    0 0 50px #1b7915,
    1px 0 #000;
}

.red-light {
    background-color: rgba(220, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 0 50px #e00b0b,
    inset 20px 0 80px #d61f1f,
    inset -20px 0 80px #bd2b2b,
    inset 0px 0 300px #ffc6c6,
    inset -20px 0 300px #961717,
    0 0 50px #730d0d,
    1px 0 #000;
    box-shadow: inset 0 0 50px #e00b0b,
    inset 20px 0 80px #d61f1f,
    inset -20px 0 80px #bd2b2b,
    inset 0px 0 300px #ffc6c6,
    inset -20px 0 300px #961717,
    0 0 50px #730d0d,
    1px 0 #000;
}

.yellow-light {
    background-color: rgba(219, 217, 55, 0.4);
    -webkit-box-shadow: inset 0 0 50px #efdb2f,
    inset 20px 0 80px #c3b21e,
    inset -20px 0 80px #f5df1f,
    inset 20px 0 300px #fffad2,
    inset -20px 0 300px #ab9d23,
    0 0 50px #736915,
    1px 0 #000;
    box-shadow: inset 0 0 50px #efdb2f,
    inset 20px 0 80px #c3b21e,
    inset -20px 0 80px #f5df1f,
    inset 20px 0 300px #fffad2,
    inset -20px 0 300px #ab9d23,
    0 0 50px #736915,
    1px 0 #000;
}

.blue-light {
    background-color: rgba(1, 0, 255, 0.4);
    -webkit-box-shadow: inset 0 0 50px #2f3eef,
    inset 20px 0 80px #425fff,
    inset -20px 0 80px #13029c,
    inset 20px 0 300px #cad2f7,
    inset -20px 0 300px #3836b9,
    0 0 50px #0100a5,
    1px 0 #000;
    box-shadow: inset 0 0 50px #2f3eef,
    inset 20px 0 80px #425fff,
    inset -20px 0 80px #13029c,
    inset 20px 0 300px #cad2f7,
    inset -20px 0 300px #3836b9,
    0 0 50px #0100a5,
    1px 0 #000;
}


/*---------------------------------- SIMON BOARD CONTROLS */

.controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    background-color: #fff;
    top: 27%;
    left: 27%;
    width: 46vw;
    height: 46vw;
    max-width: 270px;
    max-height: 270px;
    border: solid 13px #000;
    border-radius: 50%;
    line-height: 55px;
    -webkit-box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.7);
}

.simon-label {
    position: absolute;
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 10px;
}

#number-counter {
    position: absolute;
    top: 70px;
    color: #da2d2d;
    background-color: #000;
    width: 13vw;
    height: 10vw;
    max-width: 78px;
    max-height: 53px;
    margin: 0 auto;
    border: solid 2px #da2d2d;
    border-radius: 15px;
    font-size: 1.5em;
}

.start-btn {
    float: left;
    margin-right: 90px;
    margin-top: 137px;
    padding: 9px;
    cursor: pointer;
    line-height: 3em;
    font-weight: bold;
    background-color: #58e23e;
    height: 68px;
    width: 68px;
    border-radius: 50%;
    border: solid 1.5px #298417;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none;
    -webkit-box-shadow: 2px 2px 15px #000000;
    -o-box-shadow: 2px 2px 15px #000000;
    box-shadow: 2px 2px 15px #000000;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
    -o-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}

.start-btn:active {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
    -o-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
    font-size: 0.96em;
    padding-top: 10px;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.strict-switch {
    margin-top: 17px;
}

input[type="checkbox"] {
    position: relative;
    width: 67px;
    height: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #c6c6c6;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 25vw;
    -webkit-box-shadow: inset 0 0 12px rgb(103, 103, 103);
    -o-box-shadow: inset 0 0 12px rgb(103, 103, 103);
    box-shadow: inset 0 0 12px rgb(103, 103, 103);
}

input:checked[type="checkbox"] {
    background-color: #04cc30;
}

input[type="checkbox"]:before {
    content: "";
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 15px #444;
    -o-box-shadow: 2px 2px 15px #444;
    box-shadow: 2px 2px 15px #444;
}

input:checked[type="checkbox"]:before {
    left: 35px;
}


/*---------------------------------- MODALS */

/* Modal Buttons */

#rules-button {
    width: 22.1vw;
    height: 9.7vw;
    max-width: 153px;
    max-height: 61px;
    border-radius: 20px;
    padding-top: 0;
    margin: 20px;
    border: none;
    font-weight: 600;
    -webkit-text-shadow: 1px 1px 6px #000000;
    -moz-text-shadow: 1px 1px 6px #000000;
    -o-text-shadow: 1px 1px 6px #000000;
    text-shadow: 1px 1px 6px #000000;
}

#close-button,
#close-button-2,
#close-button-3,
#start-modal-button,
#start-modal-win-button {
    border: none;
    width: 4.8em;
    height: 2.4em;
}

#rules-button:active,
#close-button:active,
#close-button-2:active,
#close-button-3:active,
#start-modal-button:active,
#start-modal-win-button:active {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.close,
.close:hover {
    color: #fff;
}

/* Modal Body */

.modal-content {
    background: url(../images/simon-background.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #080e32;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    top: 3vh;
    width: 90%;
    margin: auto;
    -webkit-text-shadow: 1px 1px 6px #000000;
    -moz-text-shadow: 1px 1px 6px #000000;
    -o-text-shadow: 1px 1px 6px #000000;
    text-shadow: 1px 1px 6px #000000;
}

.win-modal-content {
    background: url(../images/winner-background.png) no-repeat center center;
    background-size: cover;
    background-color: #0c1d5a;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    top: 3vh;
    width: 90%;
    margin: auto;
    -webkit-text-shadow: 1px 1px 6px #000000;
    -moz-text-shadow: 1px 1px 6px #000000;
    -o-text-shadow: 1px 1px 6px #000000;
    text-shadow: 1px 1px 6px #000000;
}

.modal-title {
    text-align: center;
    width: 100%;
    font-size: 2em;
}

.modal-body-rules {
    font-family: 'Lato', sans-serif;
    height: 55vh;
}

.fa-angle-down {
    float: right;
    color: white;
    font-size: 2.7em;
    animation: scrollDown 0.4s alternate-reverse infinite ease-in-out;
}

/*---------------------------------- MEDIA QUERIES */

@media screen and (max-width:600px) {
    .simon-label {
        font-size: 4.2vw;
        line-height: 9.5vw;
    }
    #number-counter {
        top: 11.5vw;
        width: 13vw;
        height: 9vw;
        font-size: 3.7vw;
        line-height: 9.5vw;
        border-radius: 2.3vw;
    }
    .start-btn {
        font-size: 2.6vw;
        height: 11.3vw;
        width: 11.3vw;
        margin-right: 16.2vw;
        margin-top: 22.8vw;
        padding: 1.6vw 1.4vw;
    }
    .start-btn:active {
        font-size: 2.5vw;
        padding-top: 1.8vw;
    }
    .strict-container {
        font-size: 2.6vw;
        margin-top: 24.7vw;
        margin-left: 8.3vw;
    }
    .strict-switch {
        margin-top: 2.7vw;
    }
    input[type="checkbox"] {
        height: 6.1vw;
        width: 11.3vw;
        border-radius: 25vw;
        -webkit-box-shadow: inset 0 0 2vw rgb(103, 103, 103);
        -o-box-shadow: inset 0 0 2vw rgb(103, 103, 103);
        box-shadow: inset 0 0 2vw rgb(103, 103, 103);
    }
    input[type="checkbox"]:before {
        height: 6.1vw;
        width: 6.1vw;
    }

    input:checked[type="checkbox"]:before {
        left: 6.1vw;
    }
    #rules-button {
        font-size: 2.7vw;
        border-radius: 3vw;
    }
    .green-pad {
        border-top-left-radius: 47vw;
    }

    .red-pad {
        border-top-right-radius: 47vw;
    }

    .yellow-pad {
        border-bottom-left-radius: 47vw;
    }

    .blue-pad {
        border-bottom-right-radius: 47vw;
    }
}

@media screen and (max-width:400px) {
    .modal-header h5 {
        font-size: 7.7vw;
    }
}

@media screen and (max-width:350px) {
    .heading-container h1 {
        font-size: 1.8em;
    }
    #rules-button {
        font-size: 2.5vw;
    }
    .green-pad {
        border-top-left-radius: 45vw;
    }
    .red-pad {
        border-top-right-radius: 45vw;
    }
    .yellow-pad {
        border-bottom-left-radius: 45vw;
    }
    .blue-pad {
        border-bottom-right-radius: 45vw;
    }
}

@media screen and (max-height:830px) {
    .footer-container {
        position: static;
    }
}

/*---------------------------------- KEYFRAMES */

@-webkit-keyframes scrollDown {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 8px;
    }
}

@keyframes scrollDown {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 8px;
    }
}
